<footer>
  <div class="footer-inner">
    <div class="footer-col">
      <h4>Menu</h4>
      <a href="{{ '/#about' | relative_url }}">About</a>
      <a href="{{ '/#find' | relative_url }}">Find a Church</a>
      <a href="{{ '/#contact' | relative_url }}">Contact</a>
    </div>
    <div class="footer-col">
      <h4>WELS Resources</h4>
      <a href="https://wels.net" target="_blank" rel="noopener">WELS.net</a>
      <a href="https://wels.net/about-wels/what-we-believe/" target="_blank" rel="noopener">What We Believe</a>
      <a href="https://forwardinchrist.net" target="_blank" rel="noopener">Forward in Christ</a>
      <a href="https://wels.net/serving-you/" target="_blank" rel="noopener">Serving You</a>
    </div>
    <div id="contact" class="footer-col">
      <h4>Contact</h4>
      <p><a href="mailto:frontrangewels@gmail.com">frontrangewels@gmail.com</a></p>
    </div>
  </div>
  <div class="footer-bottom">
    &copy; 2026 Front Range WELS. All rights reserved. |
    A ministry of the <a href="https://wels.net" target="_blank" rel="noopener">Wisconsin Evangelical Lutheran Synod</a>
  </div>
</footer>
